.pageWrapper {
  width: 100%;
  margin-top: calc(60px + 15vw);
}

.textWrapper {
  font-size: 2.8125vw;
  line-height: 3.6458vw;
  letter-spacing: -0.02em;
  width: 96vw;
  padding-left: calc(50% - 64px);
  color: "white";
  padding-bottom: 17.7083vw;
}

.textWrapper span {
  display: block;
}

.paragraphs {
  margin-top: 3.2vw;
}

.textWrapper section {
  padding-top: 14.5833vw;
  width: 90%;
}

.textWrapper ul {
  margin-left: 5vw;
}

.experience li {
  list-style: none;
  margin-top: 4.1667vw;
}

.experience li > div {
  display: block;

  font-size: 2.2917vw;
  line-height: 2.7604vw;
}

.experience .date {
  margin-top: 0.9375vw;
}

.experience .date span {
  font-size: 1.25vw;
  color: #666667;
}

.contact li {
  list-style: none;
}

.contact li a {
  font-size: 1.25vw;
  line-height: 1.6667vw;

  transition: opacity 300ms;
}

.contact li a span {
  color: #666667;
}

.contact li a:hover {
  opacity: 0.5;
}

.contact ul {
  margin-top: 4.1667vw;
}
