.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: grab;
}

.crossContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

.imagesContainer {
  display: flex;
  margin-left: 50%;
  gap: 4vmin;
  position: static
}