.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
  cursor: grab;
}

.crossContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

.imagesContainer {
  display: flex;
  margin-left: 50%;
  gap: 4vmin;
  position: static
}

.hiddenThumbnail {
  height: 50px;
  z-index: 90;
  width: 80px;
  position: absolute;
  right: 250px;
  bottom: -50px
}

.selectedImage {
top: 0;
left: 0;
bottom: 0;
right: 40%;
height: 100vh;
position: absolute;
overflow: hidden;
z-index: 100;

}

@media screen and (max-width: 1600px) { 

  .hiddenThumbnail {
    left: 250px
  }
}

@media screen and (max-width: 1050px) { 

  .selectedImage {
    right: 0
  }

  .main {
    height: 100dvh;
  }
}