.imageWrapper {
  position: relative;
  width: 36vmin;
  height: 51vmin;
  user-select: none;
  overflow: hidden;
}

.cardWrapper {
  width: 36vmin;
  height: 51vmin;
}

@media screen and (max-width: 1050px) {
  .imageWrapper {
    width: 49vmin;
    height: 70vmin;
  }

  .cardWrapper {
    width: 49vmin;
    height: 70vmin;
  }
}

@media screen and (max-width: 500px) {
  .imageWrapper {
    width: 65vmin;
    height: 92vmin;
  }

  .cardWrapper {
    width: 65vmin;
    height: 92vmin;
  }
}
