.imageWrapper {
    position: relative;
    width: 36vmin;
    height: 51vmin;
    user-select: none;
    overflow: hidden
  }

  .cardWrapper {
    width: 36vmin;
    height: 51vmin;
  }

  .card {
    position: relative;
  }

  .cardOpen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }