.numberScroller {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 20px;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
    pointer-events: none;
}

.numberWheel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number {
    height: 20px
}